/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

.navegacion
{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.centrado
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links
{
    
    flex-grow: 1;
    /* flex-basis: 100; */

}


.logo
{
    /* width: 100; */
    /* flex-grow: 1;
    flex-basis: 100; */
    /* flex-shrink: unset; */
   

}

.banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.bordebanner
{
    border: 3px solid brown;
}

.copy
{
    display: flex;
    justify-content: center;
    align-items: center;

    color:whitesmoke;

}