/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

.navegacion
{
    display: flex;

    justify-content: center;
    align-items: center;

}

.centrado
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links
{
    
    flex-grow: 1;
    /* flex-basis: 100; */

}


.logo
{
    width: 50;
    flex-grow: 1;
    flex-basis: 100;
    /* margin-right: 20px; */

}

.banner
{
    display: flex;
    justify-content: center;
    align-items: center;


}

.copy
{
    display: flex;
    justify-content: center;
    align-items: center;

}